* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* ## Colors */

  /* ### Primary */

  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

  /* ### Neutral */

  --Pale_Blue: hsl(243, 100%, 93%);
  --Grayish_Blue: hsl(229, 7%, 55%);
  --Dark_Blue: hsl(228, 56%, 26%);
  --Very_Dark_Blue: hsl(229, 57%, 11%);

  /* ## Typography */

  /* Body Copy */

  --Font_size: 14px;

  /*  Font 
 Family: [Raleway](https://fonts.google.com/specimen/Raleway) 
 - Weights: 400, 700

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

 */
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
.card {
  width: 80%;
  height: 200px;
  margin: 10px 10px 10px 10px;
  color: var(--Pale_Blue);
  background-color: var(--Dark_Blue);
  border-radius: 10px;
}
div.icon-logo {
  grid-area: logo;
}
div.card-one {
  padding-right: 120px;
  padding-top: 50px;
  padding-left: 20px;
  display: grid;
  justify-items: center;
  /* grid-template-columns: 3fr;
 grid-template-rows: 2fr; */
  grid-template-areas:
    "logo logo logo"
    "icon icon icon";
}
div.card > div.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: var(--Very_Dark_Blue);
}
div.card-one {
  border-top-right-radius: 100px;
}
/* Second card layout */
div.card-two {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div.card-two>div.text{
  margin-bottom: 10px;
  font-size: var(--Font_size);
}
div.box_carga{
  height: 55px;
}
div.carga {
  display: flex;
  align-items: center;
  width: 250px;
  height: 20px;
  background-color: var(--Very_Dark_Blue);
  border-radius: 50px;
  padding: 3px;
}
div.gradient_carga {
  display: flex;
  flex-direction: column;
  /* align-content: end; */
  height: 15px;
  width: 80%;
  background: linear-gradient( to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  /* background: linear-gradient( red, blue); */
  border-radius: 50px;
  /* margin: 3px; */

}
div.white_point {
  align-self: end;
  height: 12px;
  width: 12px;
  margin: 2px;
  background-color: white;
  border-radius: 50%;
}
/* containt porcent */
div.containt{
  margin-top: 10px;
  font-size: var(--Font_size);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.spam{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  height: 80px;
  width: 180px;
  font-size: 40px;
  color: var(--Very_Dark_Blue);
  background-color: var(--Pale_Blue);
  border-radius: 10px;
  /* position: relative; */
  /* top: 40px; */

}
div.spam>span{
  font-size: small;
  margin: 10px;
  color: var(--Grayish_Blue);
  
}
/* Attribution */
div.attribution{
  margin-top: 50px;
}
body {
  height: 100dvh;
}
@media (width <= 375px) {
  body {
    background-image: url("/images/bg-mobile.png");
  }
  picture{
    display: none;
  }
}
@media (376px <= width <= 1440px) {
  body {
    background-image: url("/images/bg-desktop.png");
    background-repeat: no-repeat;
    /* background-size:cover ; */
    background: var(--Very_Dark_Blue);
    display: flex;
    flex-direction: row;
  }
  picture{
    height: 50%;
    bottom: 0;
    position: absolute;
    z-index: -1;
  }
  div.card{
    width: 20rem;
  }
  div.card-two{
    width: 500px;
    flex-direction: column;
    align-items: start;
  }
  div.card-two>div{
    margin-left: 20px;
  }
  div.box_carga{
    
  }
  div.attribution{
    display: none;
  }
}
